albumentations
flask
pretrainedmodels
torch==1.13.1    
torchmetrics==0.11.1 
torchvision==0.14.1
pandas==1.5.3
# sklearn==0.0.post1
numpy==1.24.1
tqdm==4.64.1
opencv-python-headless==4.7.0.68 
pyyaml
tensorboardX
tensorboard
onnx==1.13.0
onnxruntime
timm